/*@author: Cyrus Chester, Date Developed 2/2/2026, Tested 2/2/2026 */
@media only screen and (max-width: 2024px) {
    #mobile_menu {display:none;}
}
/*the style for the body*/
body{
    width: 725px;
    background-color: azure;
    margin: 10px auto;
}
main {
    width: 50%;
    height: 500px;
    background-color:#ffffff; /*this color is for white*/
    float:left;
}
aside{
     width: 50%;
    height: 500px;
    background-color:#ffffff; /*this color is for white*/
    float:right;
}

h1,h2 {
    padding:to x;
}
p {
    padding-left: 5px;
    padding-right: 5px;
}footer {
    clear:both;
}
ul{
    padding-left: 10px;
}
li {
    padding-left:10px;
}
.bluetouch img {
    border: 10px solid #B5D3E7;
    margin: 0;
    padding: 0;
    border-radius: 1000px;
    position: relative;
    right: 10px;
    top: 10px;
}

img{
  position: static;  

}
